div, p, ul, li{
  margin:0;
  border:0;
  padding:0;
}
#map{
  float: right;
  border:solid #999 1px;
}
#wrapper{
  float: left;
  font-size:13px;
  width:250px;
}

.tab-head a {
  display:block;
  color:#fff;
}

.tab-head a:hover {
  background:#FFF;
  color:#000000;
}

.quick-search
{
  margin:2px 10px 0 0;
  border:solid #999999 1px;
  color:#999999;
  width: 14em;
  line-height: 25px;
}
.city{
  margin:3px;
  cursor:pointer;
}
/*tab*/
.tab-head{
  overflow:auto;
  
}
.tab-item{
  text-align:center;
  float:left;
  padding:1px 3px;
  cursor:pointer;
  color:#0000FF;
  border-right: solid #CCD9F2 1px;
}
.active-tab{
  font-weight:bold;
  text-decoration:none;
}
.tab-content{
  display:none;
}
#tabHead a, #tabHead a:link, #tabHead a:visited, #tabHead a:active {
  color: #fff;
}
#tabHead a {
  line-height: 25px;
  width: 34px;
  text-decoration: none;
  text-align: center;
  display: -moz-inline-stack; 
  display: inline-block;     
  zoom: 1;                    
  *display: inline;            

}
#tabHead a:hover
{
  color: #000;
}

#tabHead a.selected, #tabHead a.selected:link, #tabHead a.selected:visited, #tabHead a.selected:active
{
  font-weight: bold;
  color: #ff0;
}

#tabHead a.selected:hover
{
  color: #000;
}

#map
{
  width: 100%;
}
#listContainer
{
  width: 100%;
  overflow: auto;

}

#listContainer ul li
{
  line-height:23px;
	text-decoration:none;
	color:#000;
	display:block;
	padding:0 0 0 25px;
	background-image: url(img/tree.png);
	background-repeat: no-repeat;
	background-position: left;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e9e9e9;  
}
#listContainer ul li.over
{
  font-weight: bold;
  cursor: pointer;
	background-color: #ffe9df;
	background-image: url(img/tree0.png);
	background-repeat: no-repeat;
	background-position: left;
}

#cityList a
{
  line-height: 20px;
  padding: 0px 4px;
  text-decoration: none;
  display: -moz-inline-stack; 
  display: inline-block;      
  zoom: 1;                     
  *display: inline;            
}
#cityList a:hover
{
  color: #ff3333;
}
#cityList a.selected
{
  font-weight: bold;
	background-color: #9900FF;
	color: #fff;
}

.m3f,.m4f{font-size:1px;overflow:hidden;display:block;height:1px;}
.m4f {margin:0 1px; border-right: 1px solid #FA0903; border-left: 1px solid #FA0903; background-color: #FA0903;}
.m3f {background:#FA0903; margin:0 2px;}
.m2f {border-right: 1px solid #FA0903 ; border-left: 1px solid #FA0903 ; background-color: #FA0903;}

